* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 0px 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas: 'bs og'
    'ad og'
    'ad af'
    'uf af';
    min-height: 100vh;
}

.pd-6 {
    padding: 6px;
}


.basic {
    grid-area: bs;
}

.advance {
    grid-area: ad;
}

.origin {
    grid-area: og;
}

.after {
    grid-area: af;
}

.upload {
    grid-area: uf;
}

label {
    cursor: pointer;
}

strong {
    font-size: 1.17em;
}

.basic div {
    margin: 8px 0px;
}

.basic div input {
    margin-right: 5px;
}

.advance div {
    margin: 8px 0px;
}

.origin div {
    margin: 10px 0px;
}

.after div {
    margin: 10px 0px;
}