<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Hello World
    <form>
        <input type="file" name="file" id="file">
    </form>
    <button onclick="upload()">test</button>
    <script>
        function upload() {
            let formData = new FormData()
            let config = {
                "use_agc": true,
                "agc_config": {},
                "use_ns": true,
                "ns_config": {}
            }

            formData.append("config", config)
            formData.append("file", document.getElementById("file").files[0])
            console.log(config)
            console.log(formData)

            fetch('/upload', {
                method: 'POST',
                body: formData
            }).then(res => {
                console.log(res)
            }).catch(err => {
                console.log(err)
            })
        }
    </script>
</body>

</html>